@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

/* apply Page Container */
.apply-container {

  align-items: center;
}

.apply-subtitle {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #FFD700;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
  }

/* Kryptona Token Section */
.apply-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.apply-content {
    border: 5px solid #4B0082;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
.apply-input {
    height: 30px; /* adjust as needed */
    width: 90%; /* to make the textarea take the full width of its container */
    padding: 10px;
    font-size: 16px; /* adjust as needed */
    margin-top:10px;
    margin-bottom:10px;
}

.apply-button {
  padding: 10px;
  background-color: #32CD32;
  color: #F5F5F5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  align-items: center;
  width: 500px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.apply-paragraph {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    color: #FFD700;
    margin: 0;
    padding: 0;
    width: 800px;
    margin-top: 11px;
    text-align: center;
  }
