@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

.vote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vote-subtitle {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #FFD700;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
  }

/* Kryptona Token Section */
.vote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.vote-content {
  border: 5px solid #4B0082;
  width: 1200px;
}

.vote-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.vote-button {
  padding: 10px;
  background-color: #32CD32;
  color: #F5F5F5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  align-items: center;
  width: 500px;
  text-align: center;
  margin-bottom: 5px;
  margin-right: 15px;
  margin-top:10px;
}

.vote-button-two {
  padding: 10px;
  background-color: #32CD32;
  color: #F5F5F5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  align-items: center;
  width: 500px;
  text-align: center;
  margin-bottom: 10px;
  margin-right: 15px;
  margin-left: 50px;
}

.vote-vote-approve-button {
  padding: 10px;
  background-color: #32CD32;
  color: #F5F5F5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  width: 300px;
  text-align: center;
  margin-left:225px;
  margin-bottom: 10px;
}

.vote-vote-deny-button {
  padding: 10px;
  background-color: #32CD32;
  color: #F5F5F5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  align-items: right;
  width: 300px;
  text-align: center;
  margin-left: 75px;
  margin-bottom: 10px;
}

.vote-paragraph {
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  color: #FFD700;
  margin: 0;
  padding: 0;
  width: 800px;
  margin-top: 11px;
}

.vote-paragraph-two {
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  color: #FFD700;
  margin: 0;
  padding: 0;
  margin-top: 11px;
  margin-left:475px;
}

.vote-input {
  margin: 0;
  padding: 0;
  width: 790px;
  margin-top: 11px;
  margin-right:10px;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
}

.vote-input-withdrawl-address {
  margin: 0;
  padding: 0;
  width: 385px;
  margin-top: 11px;
  margin-right:10px;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
}

.vote-input-withdrawl-amount {
  margin: 0;
  padding: 0;
  width: 385px;
  margin-top: 11px;
  margin-right:10px;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
}